name: Build
on:
  push:
    tags: ["v*"]
    branches: ["main"]
  pull_request:
    branches: ["*"]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' 
          java-version: '17'
          cache: sbt

      - name: Cache vcpkg
        uses: actions/cache@v3
        with:
          path: |
            ~/Library/Caches/sbt-vcpkg/vcpkg
            ~/.cache/sbt-vcpkg/vcpkg
            ~/.cache/sbt-vcpkg/vcpkg-install
          key: ${{ runner.os }}-sbt-vcpkg-new
          
      - uses: rui314/setup-mold@v1

      - name: Setup Postgres
        run: |
          set -e
          docker run -p 5432:5432 -e POSTGRES_PASSWORD=mysecretpassword -d postgres

      - name: Install Unit development libraries 
        run: |
          curl --output /usr/share/keyrings/nginx-keyring.gpg https://unit.nginx.org/keys/nginx-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/nginx-keyring.gpg] https://packages.nginx.org/unit/ubuntu/ focal unit" >> unit.list
          echo "deb-src [signed-by=/usr/share/keyrings/nginx-keyring.gpg] https://packages.nginx.org/unit/ubuntu/ focal unit" >> unit.list 
          sudo cp unit.list /etc/apt/sources.list.d/unit.list
          sudo apt update
          sudo apt install unit unit-dev

      - name: Tests and build app
        run: sbt nativeTests buildApp

      - name: Integration tests 
        run: sudo sbt devServer/reStart localIntegrationTests

      - name: Print logs
        if: failure()
        shell: bash
        run: |
          sudo cat logs/*.log

  release:
    name: Release
    needs: [build]
    runs-on: ubuntu-20.04
    if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' 
          java-version: '17'
          cache: sbt

      - name: Publish ${{ github.ref }}
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}

  docker-build:
    name: Docker build
    runs-on: ubuntu-20.04
    if: "!(startsWith(github.ref, 'refs/tags/v') || (github.ref == 'refs/heads/main'))"
    steps:
      - uses: actions/checkout@v3

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Build 
        run: docker build . -t twotm8

  mergify_build_summary:
    name: Build summary
    runs-on: ubuntu-latest
    needs: [build, docker-build]
    steps:
      - name: I only exist to please Mergify :(
        run: echo "It's a sad existence but necessary"

  deploy-staging:
    name: Deploy staging
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/v') || (github.ref == 'refs/heads/main')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' 
          java-version: '17'
          cache: sbt

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to fly.io
        run: "flyctl deploy -c fly-staging.toml"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

      - name: End to end tests  
        run: sbt stagingIntegrationTests 

  deploy-production:
    name: Deploy production
    needs: [build, deploy-staging]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 
        with:
          fetch-depth: 0

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to fly.io
        run: "flyctl deploy -c fly-production.toml"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
